# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
flutter_*.png
generated_plugin_registrant.dart

# IntelliJ / Android Studio
*.iml
.idea/
*.ipr
*.iws

# VS Code
.vscode/

# Android
android/.gradle/
android/captures/
android/app/build/
*.jks
*.keystore

# iOS/macOS
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Runner.xcworkspace/
ios/build/
macos/Flutter/GeneratedPluginRegistrant.swift
macos/build/
*.xcworkspace
*.xcuserstate
*.xcuserdatad
*.lock

# Web
web/.dart_tool/
web/build/

# Windows
windows/runner/Debug/
windows/runner/Release/
windows/runner/Profile/
windows/build/

# Linux
linux/Flutter/
linux/build/

# Misc
*.log
*.tmp
*.swp
*.DS_Store
pubspec.lock # (opcional, normalmente é mantido para apps)

# Firebase / Secrets
*.env
*.firebase/
google-services.json
GoogleService-Info.plist
